:root {
  --distance-notification-from-right: 3%;
  --distance-notification-from-top: -6%;
}

.home-screen-main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.main-post-feed {
  width: 70%;
  height: 100%;
}

.main-friends-section {
  width: 19vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 12px;
}

.link-card-main-friends {
  width: 100%;
  height: 5%;

  color: white;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 0;

  gap: 12px;

  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.link-card-main-friends::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  height: 10%;

  width: 70%;

  border-bottom: 2px solid white;
}

.adicionar-novo-amigo {
  cursor: pointer;

  width: fit-content;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

.amigos-display {
  background-color: red;

  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
  overflow-y: scroll;
}

.notifications-button-home-screen {
  position: absolute;

  cursor: pointer;

  top: var(--distance-notification-from-top);
  right: var(--distance-notification-from-right);
  color: white;

  z-index: 2;
}
.notifications-button-home-screen:active {
  cursor: default;
}

.notifications-tab-section {
  width: 250px;
  height: 350px;

  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  

  padding: 12px;

  backdrop-filter: blur(30px);

  position: absolute;
  top: calc(var(--distance-notification-from-top) + 1%);
  right: calc(var(--distance-notification-from-right) + 12px);
  z-index: 1;
}

.notifications-disabled {
  display: none;
}