:root {
  --distance-notification-from-right: 3%;
  --distance-notification-from-top: -6%;
}

.home-screen-main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

}

.search-bar {
  position: absolute;

  width: 60%;
  height: 8vh;

  top: 16px;
  left: 10%;

  z-index: 4;

  transition: 300ms;
}

.search-bar-hidden {
  top: -48px;
}

.search-bar input {
  width: 100%;
  height: 100%;

  border: transparent;
  border-radius: 16px;

  background-color: rgb(53, 40, 109, .5);

  color: white;

  outline: none;

  font-size: 1.25rem;
  letter-spacing: .05rem;
  padding-left: 48px;
}

.search-bar input::placeholder {
  align-self: center;


  font-size: .85rem;
  letter-spacing: .0005rem;
  font-weight: 500;

  color: rgb(255, 255, 255, .6);
}

.search-bar-positions {
  position: relative;

  width: 100%;
  height: 100%;
}

.search-lupa-home {
  position: absolute;

  height: 60%;

  scale: 1.5;

  top: 65%;
  transform: translateY(-50%);

  left: 16px;
}

.search-bar-invisible {
  display: none;
}

.main-friends-section {
  width: 19vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  gap: 12px;
}

.link-card-main-friends {
  width: 100%;
  height: 10%;

  color: white;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 0;

  gap: 12px;
}

.link-card-main-friends>h5 {

  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 650;
}

.list-friends-parent {
  width: 100%;
  height: 90%;

  position: absolute;

  right: 0;

  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, .15) 0%, rgba(0, 212, 255, 0) 60%);

  border-radius: 28px;

  transition: 450ms;
}

.list-friends-parent.hiding {
  right: -150%;
}

.link-card-main-friends::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  height: 10%;

  width: 70%;

  border-bottom: 2px solid white;
}

.adicionar-novo-amigo {
  cursor: pointer;

  width: fit-content;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

.amigos-display {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  padding: 8px;
  margin-right: 12px;

  overflow-x: hidden;
  overflow-y: scroll;
}

.user-display {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  padding: 8px;

  overflow-x: hidden;
}

.notifications-button-home-screen {
  position: absolute;

  cursor: pointer;

  top: var(--distance-notification-from-top);
  right: var(--distance-notification-from-right);
  color: white;

  z-index: 3;
}

.notifications-button-home-screen:active {
  cursor: default;
}

.notifications-tab-section {
  width: 250px;
  height: 350px;

  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;


  padding: 12px;

  backdrop-filter: blur(30px);

  position: absolute;
  top: calc(var(--distance-notification-from-top) + 1%);
  right: calc(var(--distance-notification-from-right) + 12px);
  z-index: 1;
}

.notifications-disabled {
  display: none;
}

.add-user-list-parent {
  width: 100%;
  height: 100%;
}


.main-post-feed {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.criar-novo-post {
  width: fit-content;

  padding: 8px 24px;

  border-radius: 32px;

  background-color: #5936B2;

  z-index: 1;

  font-size: 1rem;
  color: white;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  top: -5%;
  right: 10%;

  user-select: none;

  transition: 250ms;
}

.criar-novo-post:hover {
  background-color: #4c2d9b;
}

.separador-home-categorias-reviews {
  user-select: none;

  width: 85%;

  color: white;

  position: relative;
}
.separador-home-categorias-reviews > h3 {
  width: 20%;

  font-size: 1.25rem;
}
.separador-home-categorias-reviews::before {
  content: '';

  width: 80%;
  height: 2px;

  position: absolute;

  background-color: rgb(255, 255, 255, .2);

  border: transparent;
  border-radius: 24px;
  
  right: 0;
  top: 50%;

  transform: translateY(-50%);
}

.categoria-posts-amigos {
  width: 85%;
  height: 32vh;

  margin-top: 16px;

  background-color: red;
}