.background-new-post-panel {
    width: 125%;
    height: 100vh;

    top: -9vh;
    left: -20vw;

    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 72px;

    position: absolute;

    background-color: rgba(0, 0, 0, .75);
}

.is-not-showing-background-new-post {
    display: none;
}

.painel-criar-novo-post {
    width: 35vw;
    height: 42vh;

    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: transparent;
    border-radius: 24px;

    z-index: 2;

    background-color: #1B0B42;
}

.titulo-novo-post {
    width: 90%;
    height: 15%;

    padding: 0 4px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1.25px solid rgb(255, 255, 255, .6);
}

.lista-filmes-disponiveis {
    position: absolute;

    width: 70%;
    padding: 8px 16px 8px 16px;

    border-radius: 0 0 15px 15px;

    height: 450px;

    overflow-x: hidden;

    left: 0;
    top: 100%;

    z-index: 1;

    background-color: #9670F5;

    transition: top 350ms ease, height 350ms ease;
}

.hiding-is-changing-movie-name {
    height: 0px;
    top: 100%;

    background-color: transparent;

    z-index: 1;
}

.new-post-loader-centering {
    width: 100%;
    display: flex;
    padding-top: 8px;
    justify-content: center;
}

.lista-filmes-disponiveis > ul {
    user-select: none;
    
    margin: 0;
    padding: 0;

    list-style-type: circle;

    overflow: hidden;

    z-index: 2;

    transition: 0;
}
.hiding-is-changing-movies-list {
    padding-top: 64px;

    height: 0;
}
.list-names-movies {
    padding: 4px;

    position: relative;
    z-index: 3;

    border-radius: 15px;
}
.list-names-movies:hover {
    background-color: rgba(0, 0, 0, .20);
}
.lista-filmes-disponiveis > ul > li > h3 {
    font-weight: 600;
}

.input-criar-novo-post {
    width: 90%;

    color: white;

    font-size: 1.25rem;
    font-style: italic;

    background-color: transparent;

    border: transparent;
}
.input-criar-novo-post::placeholder {
    color: rgb(255, 255, 255, .35);
}

.input-criar-novo-post:focus {
    outline: none;
}

.icon-public-criar-novo-post {
    scale: 2;

    cursor: pointer;
}

.conteudo-novo-post {
    width: 90%;
    flex: 2.5;

    margin-top: 12px;
}

.star-rating-novo-post {
    display: flex;
    gap: 8px;
}

.estrela-novo-post {
    scale: 1.5;

    color: #7E56E4;

    transition: 150ms;
}

.estrela-novo-post:hover {
    scale: 1.65;
    
}

.paragrafo-novo-post {
    margin-top: 16px;

    resize: none;

    padding: 4px;

    font-size: 1rem;
    font-style: italic;
    color: white;

    border-radius: 14px;

    border: 1px solid rgba(255, 255, 255, .45);

    width: 100%;
    height: 60%;

    background-color: transparent;
}

.paragrafo-novo-post::placeholder {
    color: rgb(255, 255, 255, .35);
}

.acoes-novo-post {
    width: 90%;
    flex: .75;

    padding: 0 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.close-novo-post {
    width: 5vw;

    cursor: pointer;

    color: rgb(255, 0, 0, .65);

    display: flex;
    justify-content: center;
    align-items: center;
}

.close-novo-post:active {
    cursor: default;
}

.close-novo-post-icon {
    scale: 3;
}

.add-banner-novo-post {
    width: 5vw;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-banner-novo-post-icon {
    scale: 3;
}

.publicar-botao-novo-post {
    border: 3px solid #7E56E4;
    border-radius: 20px;

    width: 5vw;

    padding: 4px 12px;

    font-weight: 800;
    color: rgb(126, 86, 228, .65);

    text-align: center;

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;

    cursor: pointer;

    transition: 250ms;
}

.publicar-botao-novo-post:hover {
    background-color: #7E56E4;

    color: white;
}