.review-profile-parent {
    width: 24vw;
    height: 23vh;

    background-color: black;

    border-radius: 15px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;

    box-sizing: border-box;

    cursor: pointer;
}

.review-profile-parent>* {
    position: relative;
    z-index: 1;

    overflow: hidden;
}

.review-banner-filme {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    z-index: 0;

    user-select: none;
}

.first-line-review-profile {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px;
    box-sizing: border-box;

    background-color: rgb(0, 0, 0, .5);
}

.first-line-review-profile>h3 {
    color: white;

    user-select: none;

    font-size: 100%;
}

.star-rating-review {
    display: flex;
    gap: 4px;

    align-items: center;
}

.estrela-novo-post-review {
    scale: 1.2;

    color: white;

    transition: 150ms;
}

.second-line-review-profile {
    width: 100%;
    height: 81%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 8px;

    background-color: rgb(0, 0, 0, .5);
}

.second-line-review-profile>p {
    width: 100%;
    height: 100%;

    color: white;

    user-select: none;

    font-size: .85rem;
}

.autor-review-avatar {
    width: 100%;
    height: 30%;

    user-select: none;

    color: white;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 4px;
}

.autor-review-avatar>h3 {
    font-size: .85rem;

    padding-right: 4px;
}

.autor-review-avatar>h4 {
    font-size: .8rem;
    font-weight: 500;
}

.autor-review-avatar>img {
    height: 100%;

    aspect-ratio: 1;

    border-radius: 50%;
}