@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.join-main {
  width: 100%;
  height: 100vh;

  background: rgb(21, 11, 46);
  background: linear-gradient(0deg, rgba(21, 11, 46, 1) 30%, rgba(42, 18, 102, 1) 100%);

  display: flex;
  justify-content: center;

  position: relative;
}

.join-main::before {
  content: '';

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 1;

  opacity: 35%;

  background: url('../../Assets/Images/static.png');
}

.wave-background:nth-child(1) {
  position: absolute;

  z-index: 2;

  bottom: -12%;
  width: 100%;
}

.wave-background:nth-child(2) {
  position: absolute;

  z-index: 2;

  bottom: -14%;

  width: 100%;
}

.join-painel {
  width: 40vw;
  height: 70vh;

  border-radius: 40px;

  padding: 16px 8px;

  margin-top: 64px;

  color: white;

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background: transparent;
}

@media (min-width: 900px) {
  .join-painel {
    width: 30vw;
  }
}

@media (max-width: 900px) {
  .join-painel {
    padding: 24px;
  }
}

h2 {
  font-size: 1.5em;
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-weight: 600;

  user-select: none;
}

@media (min-width: 900px) {
  h2 {
    font-size: 2em;
  }
}

@media (max-width: 545px) {
  h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 480px) {
  h2 {
    width: 100%;
    font-size: 1.25em;
  }
}

.star-logo {
  height: 15%;
}

@media (min-width: 900px) {
  .star-logo {
    height: 30%;
  }
}

.escolher-entrada {
  width: 100%;

  gap: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {}

@media (max-width: 545px) {
  .escolher-entrada {
    gap: 16px;
  }
}

.button-div {
  width: clamp(300px, 400px, 500px);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;

  margin-top: 8px;
}

.button-div h3 {
  text-align: center;
  min-width: fit-content;
  flex: 1;

  text-wrap: nowrap;

  user-select: none;

  font-size: 1em;
}

@media (max-width: 545px) {
  .button-div h3 {
    font-size: 1rem;
  }
}

.registrar-botao,
.logar-botao {
  display: block;
  text-decoration: none;
}

.registrar-botao,
.logar-botao {
  min-width: 55%;
  height: 7vh;

  color: white;

  border: transparent;
  border-radius: 15px;

  background-color: #432390;

  overflow: hidden;

  font-size: x-large;
  font-weight: bold;
  line-height: 1px;
  letter-spacing: 0.5px;

  cursor: pointer;

  text-align: center;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);

  transition: 350ms;
}

.registrar-botao>span,
.logar-botao>span {
  position: relative;

  z-index: 2;
}

.registrar-botao::after, .logar-botao::after {
  content: '';

  position: absolute;

  overflow: hidden;

  border-radius: 15px 0 64px 15px;

  left: 0;

  width: 0%;
  height: 100%;

  background-color: #2A1266;

  transition: 350ms;
}

.hovering-over-button-join:after{
  width: 65%;
}

@media (min-width: 600px) {}

@media (max-width: 545px) {}