.register-main {
  width: 100%;
  height: 108dvh;

  background: linear-gradient(0deg, rgba(21, 11, 46, 1) 30%, rgba(42, 18, 102, 1) 100%);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  z-index: 1;

  gap: 24px;

  position: relative;
}

.register-main::before {
  content: '';

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 0;

  opacity: 35%;

  background: url('../../Assets/Images/static.png');
}

.wave-register-main {
  width: 100%;

  position: absolute;

  bottom: 0;

  z-index: 1;
}

.frase-inicial-register {
  width: 35%;

  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 3rem;
  color: white;

  position: relative;
  z-index: 2;
}

.form-register {
  width: 35%;
  height: 65vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: saturate(100%);

  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.35);

  padding: 16px;

  position: relative;
  z-index: 1;

  border-radius: 40px;

  gap: 24px;
}

.form-register>* {
  user-select: none;
}

@media (min-width: 600px) {
  .form-register {
    gap: 32px;
  }
}

@media (max-width: 900px) {
  .form-register {
    width: 65%;
  }
}

.input-padrao-register {
  width: 100%;

  color: #5936B2;

  margin: 0;
  padding: 8px 12px;



  background: transparent;

  border: 2px solid rgb(89, 54, 178, 0.5);
  border-radius: 25px;

  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1px;
  letter-spacing: 0.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 480px) {
  .input-padrao-register {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .input-padrao-register {
    margin-bottom: 32px;
  }
}

@media (max-width: 350px) {
  .input-padrao-register {
    font-size: 0.75rem;
  }
}

.input-padrao-register::placeholder {
  font-weight: bold;
  font-size: 1rem;

  color: rgba(89, 54, 178, 0.35);
}

@media (max-width: 380px) {
  .input-padrao-register::placeholder {
    font-size: 1rem;
    padding: 0 4px;
  }
}

@media (max-width: 300px) {
  .input-padrao-register::placeholder {
    font-size: 0.85rem;
  }
}

.input-padrao-register-senha {
  width: 95%;

  color: #5936B2;

  margin: 0;
  padding: 8px 12px;

  background: transparent;

  border: 2px solid rgb(89, 54, 178, 0.5);
  border-radius: 25px;

  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1px;
  letter-spacing: 0.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.input-padrao-register-senha::placeholder {
  font-weight: bold;
  font-size: 1rem;

  color: rgba(89, 54, 178, 0.35);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
}

.input-padrao-invalido-register {
  background-color: #830909;
}

.input-padrao-invalido-register::placeholder {
  color: #d11818;
}

.input-section-register {
  position: relative;

  display: flex;
  justify-content: center;

  width: 90%;
}

.input-section-senhas {
  width: 90%;

  display: flex;
  justify-content: space-between;

  gap: 5%;
}

.input-submit-register {
  min-width: 50%;
  height: 7vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 12px 16px;

  z-index: 1;

  background: transparent;

  color: rgb(255, 255, 255, .65);

  border: 2px solid rgb(67, 35, 144, .65);
  border-radius: 15px;

  font-size: large;
  font-weight: bold;

  cursor: pointer;

  position: relative;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);

  align-self: center;

  overflow: hidden;

  transition: 350ms;
}

.input-submit-register::after {
  content: '';

  width: 100%;
  height: 100%;

  position: absolute;

  bottom: -100%;

  color: #fff;

  background-color: #432390;

  z-index: -1;

  transition: 100ms ease-in-out;
}

.input-submit-register-hover::after {
  bottom: -50%;
}

.input-submit-register-activated::after {
  bottom: 0%;
}

.register-title {
  /* color: rgba(140, 48, 97, 1); */
  color: white;

  text-align: center;

  font-size: 2.25rem;
}

.no-visibility {
  visibility: hidden;
}

.form-register>p {
  color: white;
  font-weight: 700;
  text-align: center;

  font-size: 1.15rem;

  z-index: 0;
}

.span-login {
  color: #5936B2;

  cursor: pointer;
}

.send-profile-picture-position-relative {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.quit-select-profile-picture {
  position: absolute;

  top: 5%;
  right: 5%;

  cursor: pointer;
}

.quit-select-profile-picture:active {
  cursor: default;
}

.profile-picture-preview {
  height: 50%;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
}

.input-padrao-register-profile-picture {
  width: 90%;

  color: #5936B2;

  margin: 0;
  padding: 8px 12px;

  background: transparent;

  border: 2px solid rgb(67, 35, 144, .65);
  border-radius: 25px;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1px;
  letter-spacing: 0.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.input-padrao-register-profile-picture::placeholder {
  font-weight: bold;
  font-size: 0.85rem;

  /* color: rgb(89, 54, 178, .6); */
  color: rgb(255, 255, 255, .6);
}

.profile-picture-buttons {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
}

.profile-picture-buttons>button {
  width: 6vw;
  height: 5vh;

  border: transparent;
  border-radius: 15px;

  color: white;
  font-size: 1rem;
  font-weight: bolder;

  cursor: pointer;

  transition: 50ms;
}

.profile-picture-buttons>button:active {
  cursor: default;
}

.limpar-button-profile-picture {
  background-color: rgb(209, 24, 24);
}

.limpar-button-profile-picture:hover {
  background-color: rgb(155, 15, 15);
}

.enviar-button-profile-picture {
  background-color: rgb(0, 128, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.enviar-button-profile-picture:hover {
  background-color: rgb(0, 109, 0);
}