* {
  padding: 0;
  margin: 0;

  user-select: none;
}

.home-main {
  width: 100%;
  height: 100vh;

  display: flex;

  z-index: 1;

  position: relative;
}

.search-bar {
  position: absolute;

  width: 45vw;
  height: 6vh;

  top: 24px;
  left: 50%;

  transform: translateX(-50%);
}
.search-bar input {
  width: 100%;
  height: 100%;

  border: 1px solid black;
  border-radius: 16px;

  font-size: 1.75rem;
  padding-left: 40px;
}
.search-bar-positions {
  position: relative;

  width: 100%;
  height: 100%;
}
.search-bar-positions img {
  position: absolute;

  height: 70%;

  top: 50%;
  transform: translateY(-50%);

  left: 8px;
}

.section-abas {
  width: 25vw;
  height: 100%;
  z-index: 1;
  position: relative;
}
.section-abas:before {
  content: "";
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;

  width: 1px;

  border-right: 1.5px solid rgba(255, 255, 255, 0.35);
}

.logo {
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-left-bar {
  width: 100%;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.link-card-home {
  width: 85%;

  color: white;

  position: relative;

  cursor: pointer;

  display: flex;
  align-items: center;

  margin-bottom: 28px;

  gap: 12px;

  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.link-card-home::before {
  content: "";
  position: absolute;
  left: 45%;
  top: 65%;
  transform: translate(-50%, -50%);
  height: 90%;

  width: 90%;

  border-bottom: 2px solid white;
}

.bottom-card {
  position: absolute;

  font-size: 1.5rem;

  bottom: 4vh;
}
.bottom-card:before {
  margin-top: 8px;
}
