* {
  padding: 0;
  margin: 0;

  user-select: none;
}

.home-main {
  width: 100%;
  height: 100vh;

  display: flex;

  z-index: 1;

  position: relative;
}

.search-bar {
  position: absolute;

  width: 45vw;
  height: 6vh;

  top: 16px;
  left: 50%;

  transform: translateX(-50%);
}
.search-bar input {
  width: 100%;
  height: 100%;

  border: 1px solid black;
  border-radius: 16px;

  font-size: 1.25rem;
  padding-left: 44px;
}
.search-bar input::placeholder {
  align-self: center;

  font-size: 1rem;
  font-weight: bold;
}

.search-bar-positions {
  position: relative;

  width: 100%;
  height: 100%;
}
.search-bar-positions img {
  position: absolute;

  height: 70%;

  top: 50%;
  transform: translateY(-50%);

  left: 8px;
}

.search-bar-invisible {
  display: none;
}

.section-abas {
  width: 18vw;
  height: 100%;
  z-index: 1;
  position: relative;
}

.section-abas:before {
  content: "";
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  height: 85%;

  width: 1px;

  border-right: 1.5px solid rgba(255, 255, 255, 0.35);
}

.logo {
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-left-bar {
  width: 95%;
  height: 70%;

  padding-left: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.link-card-home-page {
  width: 70%;

  color: white;

  position: relative;

  cursor: pointer;

  display: flex;
  align-items: center;

  margin-bottom: 40px;

  gap: 12px;

  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.link-card-home-page::before {
  content: "";
  position: absolute;
  left: 45%;
  top: 65%;
  transform: translate(-50%, -50%);
  height: 90%;

  width: 90%;

  border-bottom: 2px solid white;
}

.bottom-card {
  position: absolute;

  font-size: 1.5rem;

  bottom: 4vh;
}
.bottom-card::before {
  margin-top: 8px;

  width: 100%;
  left: 50%;
}

.main-conteudo {
  position: absolute;

  right: 0;
  bottom: 0;

  width: 82vw;
  height: calc(100% - 9vh);
}
