* {
  padding: 0;
  margin: 0;

  user-select: none;
}

.join-main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.join-painel {
  width: 70vw;
  height: 70vh;

  border-radius: 40px;

  padding: 16px 8px;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: saturate(180%) blur(10px);

  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.35);
}

@media (min-width: 900px) {
  .join-painel {
    width: 50vw;
  }
}

@media (max-width: 900px) {
  .join-painel {
    padding: 24px;
  }
}

h2 {
  font-size: 2em;
  text-align: center;
}

@media (min-width: 900px) {
  h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 545px) {
  h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 480px) {
  h2 {
    width: 100%;
    font-size: 1.25em;
  }
}

.star-logo {
  height: 30%;
}

@media (min-width: 900px) {
  .star-logo {
    height: 40%;
  }
}

.escolher-entrada {
  width: 100%;

  gap: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  .escolher-entrada {
    flex-direction: row;
  }
}

@media (max-width: 545px) {
  .escolher-entrada {
    gap: 16px;
  }
}

.button-div {
  width: clamp(300px, 400px, 500px);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;

  margin-top: 8px;
}

.button-div h3 {
  text-align: center;
  min-width: fit-content;
  flex: 1;

  text-wrap: nowrap;

  font-size: 1.5em;
}

@media (max-width: 545px) {
  .button-div h3 {
    font-size: 1rem;
  }
}

.button-div > a {
  display: block;
  text-decoration: none;
}

.button-div > a {
  min-width: 45%;
  height: 7vh;

  color: rgb(140, 48, 97);

  border: 2px solid rgba(140, 48, 97, 0.5);
  border-radius: 15px;

  font-size: xx-large;
  font-weight: bold;
  line-height: 1px;
  letter-spacing: 0.5px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);

  transition: 350ms;
}

@media (min-width: 600px) {
  .button-div > a {
    min-width: 75%;
  }
}

@media (max-width: 545px) {
  .button-div > a {
    min-width: 35%;
    height: 6vh;

    font-size: x-large;
  }
}

.button-div > a:hover {
  color: #fff;
  background-color: rgba(140, 48, 97, 0.8);
}