* {
  padding: 0;
  margin: 0;

  user-select: none;
}

.register-main {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;

  gap: 24px;

  position: relative;
}

.starlit-logo {
  height: 10em;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background: rgba(0, 0, 0, 0.45);

  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.35);

  padding: 16px;

  border-radius: 40px;

  gap: 40px;
}

@media (min-width: 600px) {
  .form-register {
    gap: 56px;
  }
}

@media (max-width: 600px) {
  .form-register {
    width: 65vw;
  }
}

@media (max-width: 400px) {
  .form-register {
    width: 65%;
  }
}

@media (max-width: 1250px) {
  .form-register {
    width: 40vw;
  }
}

.input-padrao-register {
  width: 32vw;

  color: #8C3061;

  margin: 0;
  padding: 8px 12px;

  background: transparent;

  border: 2px solid rgba(140, 48, 97, 0.5);
  border-radius: 25px;

  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1px;
  letter-spacing: 0.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 400px) {
  .input-padrao-register {
    width: 36vw;
  }
}

@media (max-width: 600px) {
  .input-padrao-register {
    margin-bottom: 24px;
  }
}

.input-padrao-register::placeholder {
  font-weight: bold;
  font-size: 1.25rem;
  color: rgba(207, 74, 145, 0.2);
}

@media (max-width: 580px) {
  .input-padrao-register::placeholder {
    font-size: 1rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
}

.input-padrao-invalido-register {
  background-color: #830909;

}

.input-padrao-invalido-register::placeholder {
  color: #d11818;
}

.input-section {
  position: relative;
}

.input-submit-register {
  min-width: 50%;
  height: 7vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 16px;
  padding: 12px 16px;

  z-index: 1;

  background: transparent;

  color: rgba(140, 48, 97, 1);

  border: 2px solid rgba(140, 48, 97, 0.5);
  border-radius: 15px;

  font-size: large;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);

  align-self: center;

  transition: 350ms;
}

@media (max-width: 345px) {
  .input-senha-media-register {
    margin-bottom: 64px;
  }
}

@media (max-width: 565px) {
  .input-senha-media-register {
    margin-bottom: 48px;
  }
}

@media (max-width: 600px) {
  .input-submit-register {
    margin-top: 4px;
  }
}

.input-submit-register:hover {
  color: #fff;
  background-color: rgba(140, 48, 97, 0.8);
}

.register-title {
  color: rgba(140, 48, 97, 1);

  text-align: center;

  font-size: 2rem;
}

.no-visibility {
  visibility: hidden;
}