.profile-main {
  width: 100%;
  height: 100%;

  /* background-color: red; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info-box {
  width: 75%;
  height: 45vh;

  border: transparent;
  border-radius: 20px;

  padding: 16px;
  margin-top: 16px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;

  box-sizing: border-box;

  background-color: rgba(0, 0, 0, .40);
}

.edit-button-profile {
  position: absolute;

  top: 4.5vh;
  right: 3vw;

  scale: 2.5;
  color: rgb(255, 255, 255, .3);

  cursor: pointer;

  transition: 350ms ease-in-out;
}

.edit-profile-button-invisible {
  display: none;
}

.edit-button-profile:hover {
  scale: 2.6;
}

.edit-button-profile:active {
  cursor: default;
}

.profile-picture-info {
  aspect-ratio: 1;

  border: transparent;
  border-radius: 50%;

  height: 60%;

  overflow: hidden;

  background: rgba(130, 130, 130, 0.2);

  visibility: visible;

  display: flex;
}

.loading-profile-image {
  width: 100%;
  height: 100%;

  display: inline-block;
  background: rgba(130, 130, 130, 0.2);
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  line-height: 1;

  animation: skeleton-animation 2.5s ease-out infinite;
}

@keyframes skeleton-animation {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.text-info-profile {
  width: 70%;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.profile-text-info-first-line {
  width: 100%;
  height: 35%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: nowrap;

  user-select: none;
}

.profile-text-info-identifiers {
  width: 40%;

  color: white;

  text-wrap: wrap;

  font-size: calc(1vw + 10px);
}

.profile-text-info-identifiers-is-loading {
  width: 40%;
  height: 5vh;

  border-radius: 32px;

  display: flex;
  align-items: center;

  color: white;

  background: rgba(130, 130, 130, 0.2);
  background: linear-gradient(to right, rgba(130, 130, 130, 0.4) 8%, rgba(130, 130, 130, 0.5) 18%, rgba(130, 130, 130, 0.4) 33%);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  line-height: 1;

  animation: name-skeleton-animation 2.5s ease-out infinite;
}

@keyframes name-skeleton-animation {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.profile-info-box>h3 {
  color: white;

  font-size: 1.5rem;
}

.profile-text-info-numbers {
  width: 60%;

  text-wrap: wrap;

  display: flex;
  justify-content: space-around;

  font-size: calc(1vw + 4px);
}

.profile-text-info-numbers>h3 {
  color: white;

  font-weight: 400;
}

.profile-text-info-numbers>h3>span {
  color: white;

  font-weight: 700;

  margin-right: 2px;
}

.profile-text-info-numbers-is-loading {
  width: 60%;

  text-wrap: wrap;

  border-radius: 24px;

  display: flex;
  justify-content: space-around;

  font-size: calc(1vw + 4px);

  background: rgba(130, 130, 130, 0.2);
  background: linear-gradient(to right, rgba(130, 130, 130, 0.4) 8%, rgba(130, 130, 130, 0.5) 18%, rgba(130, 130, 130, 0.4) 33%);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  line-height: 1;

  animation: numbers-skeleton-animation 2.5s ease-out infinite;
}

.profile-text-info-numbers-inside {
  width: 80%;
  height: 100%;

  color: white;

  text-wrap: wrap;

  display: flex;
  justify-content: space-around;
}

.profile-text-info-numbers-inside>h3 {
  font-weight: 400;
}

.profile-text-info-numbers-inside>h3>span {
  font-weight: 700;
}

.profile-numero-amigos-invisible {
  display: none;
}

.profile-numero-reviews-invisible {
  display: none;
}

@keyframes numbers-skeleton-animation {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.profile-text-info-second-line {
  width: 100%;
  height: 65%;

  box-sizing: border-box;

  color: white;

  user-select: none;

  padding-top: 12px;
}


.profile-status {
  width: 75%;
  height: fit-content;
  min-height: 20vh;

  box-sizing: border-box;

  border: transparent;
  border-radius: 20px;

  padding: 24px 12px 12px 12px;
  margin-top: 40px;

  background: rgb(126, 86, 228);
  background: linear-gradient(180deg, rgba(126, 86, 228, .4) 0%, rgba(118, 56, 125, 0) 70%);
}

.profile-status-selectors {
  width: 100%;
  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-selectors-wrapper {
  display: flex;
  justify-content: space-between;

  width: 60%;

  position: relative;
}

.profile-selectors-wrapper::before {
  content: '';

  width: 105%;
  height: .5rem;

  position: absolute;
  top: -3vh;
  left: 50%;

  border: transparent;
  border-radius: 20px;

  transform: translateX(-50%);

  background-color: white;
}

.profile-selectors-wrapper::after {
  content: '';
  width: 9vw;
  height: .8rem;

  position: absolute;
  top: -3.30vh;

  border: transparent;
  border-radius: 20px;

  background-color: #7E56E4;

  transition: 450ms ease-in-out;
}

.profile-selectors-wrapper-posts-selected::after {
  left: -4%;
}

.profile-selectors-wrapper-comments-selected::after {
  left: 34%;
}

.profile-selectors-wrapper-likes-selected::after {
  left: 80%;
}

.profile-selector-option {
  font-weight: 400;
  font-size: 1.5rem;

  color: rgb(255, 255, 255, .65);

  user-select: none;

  cursor: pointer;

  transition: font-weight 450ms;
}

.profile-selector-selected {
  font-weight: 600;

  color: white;
}