.amigo-component {
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 12px;
  margin-bottom: 12px;

  gap: 16px;
}

.amigo-component img {
  border-radius: 50%;
}

.info-amigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-amigo h4 {
  font-size: 1.25rem;
  letter-spacing: normal;

  color: white;

  font-weight: bolder;
}
.info-amigo h5 {
  color: white;
}

.amigo-component svg {
  cursor: pointer;
}
.amigo-component svg:active {
  cursor: default;
}
