.user-component {
  width: 80%;
  height: 8vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);

  padding: 8px 16px;

  cursor: pointer;

  border-radius: 26px;
}
.user-component:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.user-component img {
  height: 100%;
  border-radius: 50%;
}

.info-user {
  width: 45%;
  overflow: hidden;

  text-overflow: ellipsis;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-user h4 {
  font-size: 1rem;
  text-align: start;
  text-overflow: ellipsis;

  letter-spacing: normal;
  font-weight: bolder;

  color: white;
}

.user-component > .icons {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component svg {
  cursor: pointer;
}
.user-component svg:active {
  cursor: default;
}
