.chat-main {
  width: 100%;
  height: 100%;

  display: flex;

  backdrop-filter: blur(2px);

  z-index: 1;

  position: relative;
}

.lista-de-contatos-chat {
  width: 19vw;
  height: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  padding: 16px;
}

.lista-de-contatos-chat::before {
  content: '';

  width: 99.8%;
  height: calc(100% + 9vh);

  position: absolute;

  top: -9vh;
  left: 0;

  background-color: rgba(0, 0, 0, .1);
}

.contato-selecionado {
  width: 70vw;
  height: 17%;

  box-sizing: border-box;

  position: absolute;

  padding: 8px 16px 8px 16px;

  top: -9vh;
  right: 0;

  z-index: 1;

  display: flex;
  align-items: center;

  gap: 24px;

  background-color: rgba(0, 0, 0, .1);
}

.contato-selecionado>img {
  height: 90%;

  border: transparent;
  border-radius: 50%;

  aspect-ratio: 1;
}

.contato-selecionado>h2 {
  color: white;

  font-size: 1.75rem;
}

.area-de-conversa-chat {
  width: 70vw;
  height: 93%;

  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.input-area-conversa-chat {
  width: 100%;
  height: 18%;

  background-color: rgba(0, 0, 0, .15);

  display: flex;

  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  padding: 16px 24px 16px 24px;
}

.send-message-button-conversa-chat {
  padding: 24px;

  border: transparent;
  border-radius: 50%;

  background-color: rgb(126, 86, 228);

  cursor: pointer;
}

.send-message-button-conversa-chat:hover {
  background-color: rgb(102, 70, 184);
}

.send-message-button-conversa-chat:active {
  cursor: default;
}

.send-message-button-conversa-chat>* {
  scale: 2.5;

  color: white;
}

.textarea-input-conversa-chat {
  width: 90%;
  height: 90%;

  font-size: 1.2rem;

  border: transparent;
  border-radius: 20px;
  outline: none;

  padding: 12px;

  box-sizing: border-box;

  resize: none;

  color: white;
  font-weight: 600;

  background-color: rgb(0, 0, 0, .75);

  justify-self: start;
}

.chat-lista {
  width: 70vw;
  height: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  overflow: auto;

  padding: 24px;

  gap: 24px;
}