@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('./Assets/Images/static.png'), rgb(198, 60, 81);
  background: url('./Assets/Images/static.png'), -moz-radial-gradient(
    circle,
    rgba(198, 60, 81, 1) 0%,
    rgba(118, 56, 125, 1) 100%
  );
  background: url('./Assets/Images/static.png'), -webkit-radial-gradient(
    circle,
    rgba(198, 60, 81, 1) 0%,
    rgba(118, 56, 125, 1) 100%
  );
  background: url('./Assets/Images/static.png'), radial-gradient(
    circle,
    rgba(198, 60, 81, 1) 0%,
    rgba(118, 56, 125, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c63c51", endColorstr="#76387d", GradientType=1);
  backdrop-filter: brightness(0.7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
